{% extends 'ProjetoFinalPW/base.html' %}

{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/Celler/celler_capa.jpg" %}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .fixed{
            height: 30px;
            width: 100px;
            position: absolute;
            top: 20px;
            right: 100px;
        }
        h1{
          text-align: center;
          font-size: 4vw;
          font-family: 'New Tegomin', serif;
        }
        h2{
            text-align: center;
            color:rgb(228, 172, 99);
        }
        h3{
            color:rgb(85, 82, 73);
            text-align: center;
        }
        .header{
            color :rgb(199, 142, 57);
        }
        .nav{
            background-color: rgb(199, 142, 57);
        }
        .nav a{
            background-color: rgb(199, 142, 57);
        }
        .footer{
            background-color: rgb(199,142,57);
        }

        .linha{
            display: flex;
            flex-direction: row;
            justify-content:center;
        }
    </style>

{% endblock head %}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

{% block nav %}
    <b><a  href="{% url 'ProjetoFinalPW:cellerIntroducao' %}" > Apresentação </a></b>
    <a href="{% url 'ProjetoFinalPW:cellerPinteresse' %}"> Pontos de Interesse </a>
    <a href="{% url 'ProjetoFinalPW:cellerCozinha' %}"> Cozinha </a>
    <a href="{% url 'ProjetoFinalPW:index' %}"> Home </a>
{% endblock nav %}

{% block header %}
    <h1>El Celler De Can Roca</h1>
{% endblock header %}

{% block itemAuxiliar %}
    <div class="row1">
          <div class="column" style="background-color: rgb(190, 167, 131);">
          <br>
          <i class="fa fa-user" style="font-size:4vw;color: rgb(238, 238, 238);"></i>
          <br>
          <h3>Comentários do Restaurante</h3>
          <p>Alguns comentários</p>
          <a href="#article">Clique aqui</a>
          </div>

          <div class="column" style="background-color: rgb(160, 147, 113);">
          <br>
          <i class="fa fa-phone" style="font-size:4vw;color:rgb(238, 238, 238)"></i>
          <br>
          <h3>Se Prenteder Reservar</h3>
          <p>Seja rápido e reserve aqui</p>
          <a href="#aside">Clique aqui</a>
          </div>

          <div class="column" style="background-color: rgba(196, 184, 116, 0.884);">
          <br>
          <i class="fa fa-map-pin" style="font-size:4vw;color:rgb(238, 238, 238)"></i>
          <br>
          <h3>Descobra Onde Se Localiza</h3>
          <p>Faça a ligação rapidamente</p>
          <a href="#local">Clique aqui</a>
          </div>

          <div class="column" style="background-color: rgba(216, 203, 128, 0.87);">
          <br>
          <i style="font-size:4vw;color: rgb(238, 238, 238);" class="fa">&#xf002;</i>
          <br>
          <h3>Acerca do Restaurante</h3>
          <p>Descobra mais</p>
          <a href="#main">Clique aqui</a>

          </div>
    </div>
{% endblock itemAuxiliar %}

{% block section %}
    <div class="reserva" id="local">
        <div class="reserva_header">
            <img src='{% static "ProjetoFinalPW/images/Celler/celer_localizacao.png" %}' class="img" alt="">
        </div>
        <div class="reserva_middle">
            <h2 class="reserva_middle_name"> Localização </h2>
        </div>

        <p class="reserva_texto"><b>&#127980; Estabelecimento:</b> 1986</p>
        <p class="reserva_texto"><b>&#127860; Chefe de Cozinha:</b> Joan Roca</p>
        <p class="reserva_texto"><b>&#127759; País:</b> Espanha</p>
        <p class="reserva_texto"><b>&#128106; Capacidade do restaurante:</b> 45 pessoas</p>
        <p class="reserva_texto"><b>&#128172; Reservas:</b> Essencial</p>
    </div>
{% endblock section %}

{% block main %}
    <div id="main">
               <table>
                   <h2>Sobre...</h2>
                   <td>
                       <p>&ensp;<b>El Celler de Can Roca</b> é um restaurante em Girona, Catalunha, Espanha, inaugurado em 1986 pelos irmãos Roca: Joan, Josep e Jordi.</p>
                       <p>&ensp;Foi localizado primeiramente ao lado do restaurante dos pais, Can Roca, mas mudou-se para o seu atual edifício construído para esse fim em 2007.</p>
                       <p>&ensp;Foi recebido calorosamente pela crítica e possui ⭐⭐⭐ Michelin.</p>
                       <p>&ensp;Em 2013 e 2015, foi eleito o melhor restaurante do mundo pela revista Restaurante, após ter sido classificada em segundo lugar em 2011, 2012 e 2014, status conquistado novamente em 2018.</p>
                   </td>

                   <td>
                       <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto6.jpg" %}' class="img" alt=""></figure>
                       <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fcasacommoda.wordpress.com%2F2015%2F02%2F23%2Fdesign-x-gastronomia-el-celler-de-can-roca%2F&psig=AOvVaw2ve-CpJCR5_b1GPNjHiXbM&ust=1617448645167000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCOjNqfe33-8CFQAAAAAdAAAAABAD"><figcaption class="none">Foto</figcaption></a>
                   </td>
               </table>


               <div class="linha">
                   <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto3.jpg" %}' class="img" id="half_circulo" alt=""></figure>
                   <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fwww.catalannews.com%2Flife-style%2Fitem%2Fel-celler-de-can-roca-restaurant-recognized-as-one-of-the-best-of-the-best&psig=AOvVaw385aOlRaegWyoaFBYS61Xx&ust=1617441872918000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCOCMq-Oe3-8CFQAAAAAdAAAAABAZ" ><figcaption class="none">Foto</figcaption></a>

                   <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto4.jpg" %}' class="img" id="half_circulo" alt=""></figure>
                   <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fwww.catalunya.com%2Fel-celler-de-can-roca-17-14001-87%3Flanguage%3Den&psig=AOvVaw385aOlRaegWyoaFBYS61Xx&ust=1617441872918000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCOCMq-Oe3-8CFQAAAAAdAAAAABAg"><figcaption class="none">Foto</figcaption></a>

                   <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto5.png" %}' class="img" id="half_circulo" alt=""></figure>
                   <a href="https://www.timeout.com/girona/restaurants/el-celler-de-can-roca"><figcaption class="none">Foto</figcaption></a>
               </div>

               <p>&ensp;A cozinha do restaurante é tradicional catalã, mas com toques que o Guia Michelin descreve como "criativos". O restaurante possui uma adega de 60.000 garrafas. Os pratos servidos incluem elementos à base de perfumes e com apresentações inusitanas, como azeitonas caramelizadas servisas num bonsai.</p>

               <div class="linha">

                   <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto2.jpg" %}' class="img" alt=""></figure>
                   <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fonn.network%2F10614%2Fel-celler-de-can-roca-restaurant-in-which-joan-roca-the-worlds-best-chef-will-cook-for-you%2F&psig=AOvVaw385aOlRaegWyoaFBYS61Xx&ust=1617441872918000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCOCMq-Oe3-8CFQAAAAAdAAAAABAL"><figcaption class="none">Foto</figcaption></a>

               </div>

               <table>
                   <td>
                       <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_foto7.jpg" %}' class="img" id="circular" alt=""></figure>
                       <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fcellercanroca.com%2Fen%2Fel-celler-de-can-roca%2Fthe-kitchen%2F&psig=AOvVaw2ve-CpJCR5_b1GPNjHiXbM&ust=1617448645167000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCOjNqfe33-8CFQAAAAAdAAAAABAZ"><figcaption class="none">Foto</figcaption></a>
                   </td>
                   <td>
                       <p>&ensp;O restaurante apareceu na série de televisão do Reino Unido <a href="https://pt.wikipedia.org/wiki/MasterChef:_The_Professionals">MasterChef: The Professionals</a> em 13 de dezembro de 2011. </p>
                       <p>&ensp;Os três finalistas do concurso foram convidados a cozinhar as suas próprias criações para os três irmão Roca, bem como cozinhar seis pratos exlusivos para um grupo de convidados. O vencedor Mark Birchall, foi eleito para trabalhar no El Celler de Can Roca como parte do seu prêmio.</p>
                   </td>
               </table>

               <p><b><i>“Um restaurante tem que ser feito a tempo, é um projeto de longo prazo. Um modo de vida, um modo. Tem que ser capaz de ser feliz neste caminho fazendo os outros felizes, metas acontecem muito rapidamente. O dia a dia no restaurante é o que resta."</i></b></p>

    </div>
{% endblock main %}

{% block aside %}
    <div id="aside">
                <div class="reserva">
                    <div class="reserva_header">
                    <img src='{% static "ProjetoFinalPW/images/Celler/celer_foto.jpg" %}' class="img" alt="">
                    </div>
                    <div class="reserva_middle">
                    <h2 class="reserva_middle_name"> Reserva </h2>
                    </div>
                    <p class="reserva_texto">O sistema de reservas online permite verificar a disponibilidade e efetuar a reserva. </p>
                    <p class="reserva_texto">Se já estiver lotado na data pretendida, o seu pedido é incluido na lista de espera correspondente.</p>
                    <p class="reserva_texto">As reservas são aceites com no máximo 11 meses de antecedência e as solicitações que excedem esse limite não são processadas.</p>
                    <p class="reserva_texto"><b>&#128241; Telemóvel: +34 972 222 157</b></p>
                    <p class="reserva_texto"><b>&#127759; Localização:</b> <a href="https://www.google.com/maps/place/El+Celler+De+Can+Roca/@41.9933774,2.805826,17z/data=!3m1!4b1!4m5!3m4!1s0x12bae711df335e93:0x27068e002439c4fa!8m2!3d41.9933774!4d2.8080147">Google Maps</a></p>
                    <p class="reserva_texto"><b>&#127760; Site:</b> <a href="https://cellercanroca.com/">Clique aqui</a></p>
                    <br>
                    <a href="https://cellercanroca.com/reservas/informacio-sobre-la-reserva/formulari-reserves-ca.html"><button style="font-size:1vw;color: sandybrown;">Clique para reservar <i class="fa fa-calendar-check-o"></i></button></a>
                    <br>
                </div>
    </div>
{% endblock aside %}

{% block article %}
    <div id="article">
                <h2>&#128106; Comentários</h2>
                <div class="linha">
                    <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_avaliacao1.png" %}' class="img" alt=""></figure>
                    <a href="https://www.google.pt/maps/place/El+Celler+de+Can+Roca/@41.9934068,2.8060718,17z/data=!3m1!4b1!4m5!3m4!1s0x12bae711df335e93:0x27068e002439c4fa!8m2!3d41.9934068!4d2.8082605?hl=pt-PT"><figcaption class="none">Avaliação</figcaption></a>

                    <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_avaliacao2.png" %}' class="img" alt=""></figure>
                    <a href="https://www.google.pt/maps/place/El+Celler+de+Can+Roca/@41.9934068,2.8060718,17z/data=!3m1!4b1!4m5!3m4!1s0x12bae711df335e93:0x27068e002439c4fa!8m2!3d41.9934068!4d2.8082605?hl=pt-PT"><figcaption class="none">Avaliação</figcaption></a>

                    <figure><img src='{% static "ProjetoFinalPW/images/Celler/celer_avaliacao3.png" %}' class="img" alt=""></figure>
                    <a href="https://www.google.pt/maps/place/El+Celler+de+Can+Roca/@41.9934068,2.8060718,17z/data=!3m1!4b1!4m5!3m4!1s0x12bae711df335e93:0x27068e002439c4fa!8m2!3d41.9934068!4d2.8082605?hl=pt-PT"><figcaption class="none">Avaliação</figcaption></a>
                </div>
    </div>
{% endblock article %}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}

{% block footer %}
    <div class="redes_sociais">
                <a href="https://www.instagram.com/cellercanroca/" target="_blank"><span class="instagram"></span>Instagram</a>
                <a href="https://www.facebook.com/ElCellerdeCanRoca/" target="_blank"><span class="facebook"></span>Facebook</a>
    </div>
{% endblock footer %}