{% extends "ProjetoFinalPW/base.html" %}

{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/formulario.png"%}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1{
            font-size: 2vw;
            font-family: 'Dela Gothic One', cursive;
            color:rgb(202, 29, 29);
        }
        p{
            text-align: center;
        }
        .nav{
            background-color:rgb(10, 51, 90);
        }
        .footer{
            background-color:rgb(10, 51, 90);
        }
        fieldset{
            text-align: center;
        }
    </style>

    <script>
        function info() {
            const heading = document.querySelector('h1');
            if(heading.innerHTML === 'Conselho') {
                heading.innerHTML = 'Preencha o formulário com boa disposição &#128518;!';
                heading.style.color = 'green';
            } else {
                heading.innerHTML = 'Conselho';
                heading.style.color = 'orange';
            }

        }
    </script>

{% endblock head %}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

     <!--Nav-->
{% block nav %}
    <a href="{% url 'ProjetoFinalPW:informacao' %}" target="_blank">&#10067; Informações </a>
    <b><a href="{% url 'ProjetoFinalPW:formulario' %}" target="_blank">&#128203; Formulário </a></b>
    <a href="{% url 'ProjetoFinalPW:mapa' %}" target="_blank">🗺️ Mapa do Website</a>
    <a href="{% url 'ProjetoFinalPW:contacto' %}">📞 Contacto </a>
    <a href="{% url 'quizz:quizz' %}">✍️ Quizz </a>
    <a href="{% url 'ProjetoFinalPW:index' %}" target="_blank">&#128281; Home </a>
{% endblock nav %}

    <!--Header-->
{% block header %}
    <h1><b>Formulário</b></h1>
    <button onclick="info()">Clicar aqui!</button>
{% endblock header %}

        <!--Conteúdo Principal // Main-->
{% block main %}
    <p>Responda às várias perguntas, sempre com sinceridade!!</p>
    <p>As opiniões são sempre bem-vindas!</p>
      <form action="nome.apelido@gmail.com" method="POST">
        <div class="feedback-container">
            {% csrf_token %}

            <div class="comentario-container">
                {{form.as_p}}

                <p></p>
                <input class ="butao" type="submit" value="Enviar">
            </div>
        </div>
      </form>
{% endblock main %}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}

   <!--Footer-->
{% block footer %}
    <p> Universade Lusófona de Humanidades e Tecnologias </p>
{% endblock footer %}