{% extends "ProjetoFinalPW/base.html" %}

{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/fundo.jpg" %}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1{
            font-size: 2vw;
            font-family: 'Dela Gothic One', cursive;
            color:rgb(10, 51, 90);
        }
        h2{
            font-size:1.5vw;
            font-family: 'New Tegomin', serif;
            background-color: #BDD7EE;
            color: rgb(58, 57, 57);
        }
        h3{
            color:rgb(10, 51, 90);
            text-align: center;
        }
        h5{
            text-align: center;
            color:rgb(79, 113, 206);
            font-size: 0.8vw;
        }
        .nav{
            background-color: rgb(10, 51, 90);
        }
        .footer{
            background-color:rgb(10, 51, 90);
        }

        /*Formatação de Tabelas*/
        td,th,table{
            border:1.5px solid black;
            table-layout: fixed;
            text-align: center;
            border-collapse: collapse;
            margin: auto;
            max-width: 1300px;
            max-height: 100px;
        }
        tr:nth-child(even){
            background-color:rgb(252, 252, 250);
        }
        tr:nth-child(odd){
            background-color: #FFE699;
        }
        th{
            color:rgb(29, 46, 77);
        }
        [target="blank_"]{
            background-color:rgb(103, 124, 124);
        }
        .itemAuxiliar{
            text-align: center;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

     <!--Nav-->
{% block nav %}
    <b><a href="{% url 'ProjetoFinalPW:informacao' %}">&#10067; Informações </a></b>
    <a href="{% url 'ProjetoFinalPW:formulario' %}" >&#128203; Formulário </a>
    <a href="{% url 'ProjetoFinalPW:mapa' %}" >🗺️ Mapa do Website</a>
    <a href="{% url 'ProjetoFinalPW:contacto' %}">📞 Contacto </a>
    <a href="{% url 'quizz:quizz' %}">✍️ Quizz </a>
    <a href="{% url 'ProjetoFinalPW:index' %}" >&#128281; Home </a>
{% endblock nav %}

    <!--Header-->
{% block header %}
    <h1>Informações Detalhadas do Projeto</h1>
{% endblock header %}

    <!--itemAuxiliar-->
{% block itemAuxiliar %}
    <div class="itemAuxiliar">
    <div class="row1">
        <div class="columnInformacao" style="background-color: #348AE0">
            <br>
            <h3>📹</h3>
            <br>
            <h3>Vídeo</h3>
            <a href="#section">Clique aqui</a>
            </div>

            <div class="columnInformacao" style="background-color: #F4B183">
            <br>
            <h3>📝</h3>
            <br>
            <h3>Tabela Inventários</h3>
            <a href="#tabelaInventario">Clique aqui</a>
            </div>

            <div class="columnInformacao" style="background-color:#FFE699 ">
            <br>
            <h3>🤓</h3>
            <br>
            <h3>Detalhes do Webiste</h3>
            <a href="#main">Clique aqui</a>
            </div>

            <div class="columnInformacao" style="background-color: #84B4E0">
            <br>
            <h3>📝</h3>
            <br>
            <h3>Tabela Detalhes</h3>
            <a href="#tabelaDetalhes">Clique aqui</a>
            </div>

            <div class="columnInformacao" style="background-color: rgba(236, 211, 129, 0.87);">
            <br>
            <h3>🌐</h3>
            <br>
            <h3>Descobra as Páginas</h3>
            <a href="#aside">Clique aqui</a>
            </div>
    </div>
    </div>
{% endblock itemAuxiliar %}

        <!--Section-->
{% block section %}
    <div id="section">
        <!--Vídeo de apresentação do site-->
        <h5> Vídeo de Apresentação do Site</h5>
        <div class="container_video">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/J806yjRweQw"></iframe>
        </div>
    </div>
{% endblock section %}

        <!--Conteúdo Principal-->
{% block main %}
    <div id="main">
        <h3>Sobre o Website</h3>
        <p>&ensp;O nosso website é acerca de três dos melhores restaurantes do mundo: <i>Mirazur</i>, <i>El Celler De Can Roca</i> e <i>Noma</i>.</p>
        <p>&ensp;Com o intuito de deixarmos o nosso projeto curioso, procurámos desenvolver páginas
        com informações relevantes a todos os leitores. Nomeadamente acerca do restaurante em si,
        do seu chef e de alguns pontos de interesse perto da zona do estabelecimento.</p>
        <p>&ensp;Para conseguirmos um resultado final apelativo e único, utilizámos várias técnicas (descritas mais abaixo)
        e uma aplicação em específico: PhotoShop. Utilizámos esta aplicação para criar uma capa, que pode ser vista na página do <b>Index</b>.</p>
        <p>&ensp;As páginas correspondentes dos restaurantes, estão formatadas todas da mesma maneira:</p>
        <p>&ensp;A página correspetiva da <b>Introdução</b> é constituída por um <u>main</u>, que por sua vez é escrito utilizando algumas
        técnicas de texto, tabelas e imagens. O <u>section</u> e o <u>aside</u> foram escritos utilizando flexboxs. O <u>article</u> apenas é formado
        por algumas técnicas de imagens. O <u>header</u> apenas é composto por algumas técnicas de letras. Por último o <u>itemAuxiliar</u>,
        criado por nós, é escrito utilizando técnicas de flexboxs.</p>
        <p>&ensp;A página correspetiva dos <b>Pontos de Interesse</b> é formada pelas mesmas etiquetas da página anterior, mas com algumas adições de propriedades.
        O <u>article</u> é formado maioritariamente por técnicas de imagens e sobreposição de texto.</p>
        <p>&ensp;Por último, a página correspetiva da <b>Cozinha</b> é formada pelas mesmas etiquetas que as anteriores, mas com algumas adições de propriedades.
        O <u>section</u> contêm vídeos, logo foram utilizadas algumas técnicas de adição de vídeos.</p>
        <p>&ensp;Além das páginas dedicadas aos restaurantes, o nosso projeto também contêm uma página com um <b>Formulário</b>, onde são usadas
        algumas técnicas de formatação de formulários.</p>
        <p>&ensp;Para além disso, o nosso projeto também é formado por uma página que contêm um mapa do website. A página <b>Mapa do Website</b>
        é criada utilizando algumas técnicas referentes aos menus dropdown.</p>
        <p>&ensp;Todas as páginas referidas foram também alvo de técnicas de responsividade. Graças às mesmas, o leitor consegue usufruir do nosso site
        mesmo tendo um ecrã de visualização mais pequeno. Além disso, todas as páginas são constituídas por animações na capa, em imagens, nos icons e nos vídeos.</p>
        <p>&ensp;Na <b>Tabela de Técnicas Usadas</b> pode ter acesso a parte da codificação feita em alguns tópicos.</p>


        <h3>Layouts</h3>
        <p>&ensp;No nosso projeto, utilizámos um <u>layout CSS Flexbox</u>.</p>
        <p>&ensp;O uso do flexbox garante que os elementos se comportem de uma maneira previsível quando o layout da página se acomoda com diferentes tamanhos de tela e diferentes dispositivos de exibição.</p>

        <p style="text-align: center;color: brown;">Para computadores:</p>
        <figure><img src='{% static "ProjetoFinalPW/images/layout_capa.png" %}' class="img" alt=""></figure>
        <figcaption class="none">Representação do layout de computadores</figcaption>

        <p style="text-align: center;color: brown;">Para telemóveis:</p>
        <figure><img src='{% static "ProjetoFinalPW/images/layout_telemovel.png" %}' class="img" alt=""></figure>
        <figcaption class="none">Representação do layout de telemóveis</figcaption>

    </div>
{% endblock main %}

        <!--Aside-->
{% block aside %}
    <div id="aside">
        <svg width="273" height="241" class="img">
            <image src='{% static "ProjetoFinalPW/images/wordclound.png" %}' alt=""></image>
            <a href="mirazurIntroducao.html"><polygon opacity="0.1" points="92,33 92,48 157,48 157,33" style="fill:rgb(12, 51, 90)"></polygon></a>
            <a href="cellerIntroducao.html"><polygon opacity="0.1" points="47,105 47,121 201,121 201,110" style="fill:rgb(12, 51, 90)"></polygon></a>
            <a href="nomaIntroducao.html"><polygon opacity="0.1" points="63,145 63,159 110,159 110,145" style="fill:rgb(12, 51, 90)"></polygon></a>
            <a href="mirazurPinteresse.html"><polygon opacity="0.1" points="88,206 97,221 147,196 142,186" style="fill:rgb(214, 127, 69)"></polygon></a>
            <a href="mirazurCozinha.html"><polygon opacity="0.1" points="64,123 64,137 184,137 184,123" style="fill:rgb(54, 114, 62)"></polygon></a>
            <a href="cellerPinteresse.html"><polygon opacity="0.1" points="121,170 121,182 168,182 168,170" style="fill:rgb(214, 127, 69)"></polygon></a>
            <a href="cellerCozinha.html"><polygon opacity="0.1" points="113,71 113,84 185,83 185,71" style="fill:rgb(54, 114, 62)"></polygon></a>
            <a href="nomaPinteresse.html"><polygon opacity="0.1" points="90,50 90,63 164,63 164,50" style="fill:rgb(214,127,69)"></polygon></a>
            <a href="nomaCozinha.html"><polygon opacity="0.1" points="81,138 81,150 172,150 172,138" style="fill:rgb(54, 114, 62)"></polygon></a>
            <a href="formulario.html"><polygon opacity="0.1" points="128,93 128,107 202,107 202,93" style="fill:rgb(194, 28, 28)"></polygon></a>
            <a href="mapa.html"><polygon opacity="0.1" points="211,94 195,104 228,145 242,136" style="fill:rgb(194, 28, 28)"></polygon></a>
            <a href="index.html"><polygon opacity="0.1" points="137,147 125,161 182,184 186,172" style="fill:rgb(194, 28, 28)"></polygon></a>
        </svg>
    </div>
{% endblock aside %}

        <!--Article-->
{% block article %}
    <!--Tabela de Inventário-->
     <h2 id="tabelaInventario">Tabela de Inventário</h2>
     <br>

     <table cellpadding="10%" cellspacing="5" bgcolor ="white" border="1">
         <tr>
            <th>Páginas</th>
            <th>Imagens</th>
            <th>Links externos</th>
            <th>Vídeos</th>
            <th>Animações</th>
         </tr>
         <tr>
             <td>index.html</td>
             <td>1</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
         </tr>
         <tr>
             <td>mirazurIntroducao.html</td>
             <td>10</td>
             <td>7</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>mirazurPinteresse.html</td>
             <td>10</td>
             <td>6</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>mirazurCozinha.html</td>
             <td>7</td>
             <td>5</td>
             <td>2</td>
             <td>4 (capa, imagens, icons e vídeos)</td>
         </tr>
         <tr>
             <td>cellerIntroducao.html</td>
             <td>12</td>
             <td>7</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>cellerPinteresse.html</td>
             <td>16</td>
             <td>3</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>cellerCozinha.html</td>
             <td>7</td>
             <td>7</td>
             <td>2</td>
             <td>4 (capa, imagens, icons e vídeos)</td>
         </tr>
         <tr>
             <td>nomaIntroducao.html</td>
             <td>12</td>
             <td>5</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>nomaPinteresse.html</td>
             <td>16</td>
             <td>2</td>
             <td>0</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>nomaCozinha.html</td>
             <td>11</td>
             <td>4</td>
             <td>3</td>
             <td>4 (capa, imagens, icons e vídeos)</td>
         </tr>
         <tr>
             <td>informacao.html</td>
             <td>41</td>
             <td>0</td>
             <td>1</td>
             <td>3 (capa, imagens e icons)</td>
         </tr>
         <tr>
             <td>formulario.html</td>
             <td>1</td>
             <td>0</td>
             <td>0</td>
             <td>0</td>
         </tr>
         <tr>
            <td>mapa.html</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1 (capa)</td>
        </tr>
         <tr>
             <th>Total</th>
             <th>145</th>
             <th>46</th>
             <th>9</th>
             <th>34</th>
         </tr>

     </table>
     <br>

     <!--Técnicas Usadas-->
     <h2 id="tabelaDetalhes">Tabela de Técnicas Usadas</h2>
     <br>

    <table cellpadding="10%" cellspacing="5" bgcolor ="white" border="1">
         <tr>
             <th>Características</th>
             <th>Elementos/Técnicas</th>
             <th>Exemplos</th>
         </tr>
         <tr>
             <td>Layouts</td>
             <td>Neste tópico, utilizámos o CSS grid e o CSS flexbox para construção de layouts.</td>
             <td><img src='{% static "ProjetoFinalPW/images/info/layout.PNG" %}' class="img" alt=""></td>
         </tr>
         <tr>
             <td>Responsividade</td>
             <td>Foram usadas media queries para adaptar o layout para telemóveis e computadores consoante o tamanho da janela do browser.</td>
             <td><img src='{% static "ProjetoFinalPW/images/info/responsividade1.PNG" %}' class="img" alt=""> <br> <img src="images/info/responsividade2.PNG" class="img"></td>
         </tr>
         <tr>
             <td rowspan="6">Seletores</td>
             <td>Universal</td><td><img src='{% static "ProjetoFinalPW/images/info/universal.png" %}' class="img" alt=""></td>
             <tr><td>Id</td><td><img src='{% static "ProjetoFinalPW/images/info/id.png" %}' class="img" alt=""></td></tr>
             <tr><td>Classe</td><td><img src='{% static "ProjetoFinalPW/images/info/classe.png" %}' class="img" alt=""></td></tr>
             <tr><td>Atributo</td><td><img src='{% static "ProjetoFinalPW/images/info/atributo.png" %}' class="img" alt=""></td></tr>
             <tr><td>Pseudo-classe</td><td><img src='{% static "ProjetoFinalPW/images/info/pseudo-classe.png" %}' class="img" alt=""></td></tr>
             <tr><td>Pseudo-elemento</td><td><img src='{% static "ProjetoFinalPW/images/info/pseudo-elementos.png" %}' class="img" alt=""></td></tr>
         </tr>
         <tr>
             <td rowspan="8">Etiquetas</td>
             <td>Main</td><td><img src='{% static "ProjetoFinalPW/images/info/main.png" %}' class="img" alt=""></td>
             <tr><td>Article</td><td><img src='{% static "ProjetoFinalPW/images/info/article.png" %}' class="img" alt=""></td></tr>
             <tr><td>Nav</td><td><img src='{% static "ProjetoFinalPW/images/info/nav.png" %}' class="img" alt=""></td></tr>
             <tr><td>Aside</td><td><img src='{% static "ProjetoFinalPW/images/info/aside.png" %}' class="img" alt=""></td></tr>
             <tr><td>Header</td><td><img src='{% static "ProjetoFinalPW/images/info/header.png" %}' class="img" alt=""></td></tr>
             <tr><td>Footer</td><td><img src='{% static "ProjetoFinalPW/images/info/footer.png" %}' class="img" alt=""></td></tr>
             <tr><td>Figure</td><td><img src='{% static "ProjetoFinalPW/images/info/figure.png" %}' class="img" alt=""></td></tr>
             <tr><td>Section</td><td><img src='{% static "ProjetoFinalPW/images/info/section.png" %}' class="img" alt=""></td></tr>
         </tr>
         <tr>
             <td rowspan="15">Propriedades CSS</td>
             <td>Propriedades do Background</td><td><img src='{% static "ProjetoFinalPW/images/info/background.png" %}' class="img" alt=""></td>
             <tr><td>Propriedades do Border</td><td><img src='{% static "ProjetoFinalPW/images/info/border.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades da Margin</td><td><img src='{% static "ProjetoFinalPW/images/info/margin.png" %}' class="img" alt=""></td></tr>
             <tr><td>Elementos Block</td><td><img src='{% static "ProjetoFinalPW/images/info/block.png" %}' class="img" alt=""></td></tr>
             <tr><td>Elementos Inline</td><td><img src='{% static "ProjetoFinalPW/images/info/inline.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades de Display</td><td><img src='{% static "ProjetoFinalPW/images/info/display.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades de Largura</td><td><img src='{% static "ProjetoFinalPW/images/info/largura.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades da Posição</td><td><img src='{% static "ProjetoFinalPW/images/info/posicao.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades do Overflow</td><td><img src='{% static "ProjetoFinalPW/images/info/overflow.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades do Float</td><td><img src='{% static "ProjetoFinalPW/images/info/float.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades dos Link</td><td><img src='{% static "ProjetoFinalPW/images/info/link.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades das Listas</td><td><img src='{% static "ProjetoFinalPW/images/info/listas.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades das Tabelas</td><td><img src='{% static "ProjetoFinalPW/images/info/tabelas.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades do Texto</td><td><img src='{% static "ProjetoFinalPW/images/info/texto.png" %}' class="img" alt=""></td></tr>
             <tr><td>Propriedades para Apresentação de Texto</td><td><img src='{% static "ProjetoFinalPW/images/info/apresentacao.png" %}' class="img" alt=""></td></tr>
         </tr>
         <tr>
             <td rowspan="4">Animações</td>
             <td>Imagens</td><td><img src='{% static "ProjetoFinalPW/images/info/animacao_imagem.png" %}' class="img" alt=""></td>
             <tr><td>Vídeos</td><td><img src='{% static "ProjetoFinalPW/images/info/animacao_video.png" %}' class="img" alt=""></td></tr>
             <tr><td>Icones</td><td><img src='{% static "ProjetoFinalPW/images/info/animacao_icons.png" %}' class="img" alt=""></td></tr>
             <tr><td>Capa</td><td><img src='{% static "ProjetoFinalPW/images/info/animacao_capa.png" %}' class="img" alt=""></td></tr>
         </tr>
         <tr>
             <td>Efeitos</td>
             <td>Foram utilizados vários efeitos ao longo do projeto. Nomeadamente em imagens, layouts e responsividade. </td>
             <td><img src= '{% static "ProjetoFinalPW/images/info/efeito_imagem.png" %}' class="img" alt=""></td>
         </tr>
     </table>
    <br>

    <!--Técnicas Usadas-->
     <h2 id="tabelaDetalhes">Tabela de Técnicas/Tecnologias Usadas no Desenvolvimento</h2>
     <h3>Carta de Apresentação da Aplicação</h3>
     <br>

    <table cellpadding="10%" cellspacing="5" bgcolor ="white" border="1">
         <tr>
            <th>Categoria</th>
            <th>Descrição de Tecnologias aplicadas</th>
         </tr>
         <tr>
             <td>HTML</td>
             <td>Neste projeto, utilizámos várias tecnologias HTML tais como: elementos do body, técnicas de auxilio
                 para a elaboração de formulários (valores atributo type e atributos de input), técnicas de botões
                 (atributo action e method), técnicas de SVG e elementos semânticos do HTML5.
             </td>
         </tr>
         <tr>
             <td>CSS</td>
             <td>Neste projeto, utilizámos várias tecnologias CSS tais como: atributo style (todos os estilos que o CSS possui),
             seletores, combinadores de seletores, propriedades (background, modulo de caixa, border, margin, elementos
             block, display, largura, posição, overflow, float, links, listas, tabelas, texto e apresentação de texto),
             fontes (icones), técnicas de design responsivo e layout dinâmico (design web responsivo, box-sizing,
             border-box, imagens responsivas, texto responsivo, media queries, grid-view, layout responsivo (telemovel,
             tablet e pc)), layout CSS flex e CSS grid (CSS flexbox, CSS grid e combinação entre ambos), animações e
             efeitos (transformações, transições, efeitos e animações), layout menu e propriedades de cor.</td>
         </tr>
         <tr>
             <td>Django</td>
             <td>Neste projeto, utilizámos várias tecnologias Django tais como: construtores, herança e templates, filtros,
             hiperlinks, manipulação de base de dados, formulários, botões, urls, modelos e autentificação e
             interface admin.</td>
         </tr>
         <tr>
             <td>JavaScript</td>
             <td>Neste projeto, utilizámos várias tecnologias JavaScript tais como: eventos, manipulação do DOM, application
                 programming interfaces e single-page application </td>
         </tr>
        <tr>
             <td>Github</td>
             <td>Neste projeto, utilizámos o Github para armazenar todo o código executado por nós.</td>
         </tr>
        <tr>
             <td>Heroku</td>
             <td>Neste projeto, utilizámos o Heroku para fazer deploy da nossa aplicação. Com a integração do Github, o uso tornou-se mais fácil.</td>
         </tr>
     </table>
     <br>


{% endblock article %}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}

