{% extends "ProjetoFinalPW/base.html" %}

{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/noma/noma_capa.jpg" %}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .fixed{
            height: 30px;
            width: 100px;
            position: absolute;
            top: 20px;
            right: 100px;
        }
        h1{
          text-align: center;
          font-size: 4vw;
          font-family: 'New Tegomin', serif;
        }
        h2{
            text-align: center;
            color:rgb(94, 71, 42);
        }
        h3{
            color:rgb(68, 61, 50);
            text-align: center;
        }
        h5{
            text-align: center;
            color:rgb(163, 112, 30);
            font-size: 0.8vw;
        }
        .header{
            color:rgb(190, 167, 131);
        }
        .nav{
            background-color: rgb(190, 167, 131);
        }
        .nav a{
            background-color: rgb(190, 167, 131);
        }
        .footer{
            background-color: rgb(190, 167, 131);
        }

        .linha{
            display: flex;
            flex-direction: row;
            justify-content:center;
        }
        .linha2{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }
        #circular{
            border-radius: 120px;
        }
        #half_circulo{
        border-radius: 50px;
        }
        .itemAuxiliar{
            text-align: center;
        }
    </style>
{% endblock head%}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

    <!--Nav-->
{% block nav %}
    <a  href="{% url 'ProjetoFinalPW:nomaIntroducao' %}" > Apresentação </a>
    <a href="{% url 'ProjetoFinalPW:nomaPinteresse' %}"> Pontos de Interesse </a>
    <b><a href="{% url 'ProjetoFinalPW:nomaCozinha' %}"> Cozinha </a></b>
    <a href="{% url 'ProjetoFinalPW:index' %}"> Home </a>
{% endblock nav%}

    <!--Header-->
{% block header %}
    <h1>Noma</h1>
{% endblock header%}

    <!--Item Auxiliar-->
{% block itemAuxiliar %}
    <div class="itemAuxiliar">
    <div class="row1">
      <div class="columnPagina" style="background-color: rgb(190, 167, 131);">
            <br>
            <i class="fa fa-video-camera" style="font-size:4vw;color:rgb(238, 238, 238)"></i>
            <br>
            <h3>Vídeos do Chefe</h3>
            <a href="#section">Clique aqui</a>
      </div>

      <div class="columnPagina" style="background-color:rgb(131, 115, 89)">
            <br>
            <i class="fa fa-cutlery" style="font-size:4vw;color: rgb(238, 238, 238);"></i>
            <br>
            <h3>Pratos do Chefe</h3>
            <a href="#article">Clique aqui</a>
      </div>

      <div class="columnPagina" style="background-color: rgba(211, 207, 188, 0.884);">
            <br>
            <i class="fa fa-user-circle-o" style="font-size:4vw;color:rgb(238, 238, 238)"></i>
            <br>
            <h3>Acerca do Chefe</h3>
            <a href="#aside">Clique aqui</a>
      </div>
    </div>
    </div>
{% endblock itemAuxiliar%}

        <!--Section-->
{% block section %}
    <div id="section">
        <h5>Reinvenção do Melhor Restaurante, 2018</h5>
        <div class="container_video">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/v5XtgodI5Ww" ></iframe>
        </div>
        <details>
                <summary>Saber mais</summary>
                <p>O chef-proprietário Rene Redzepi fechou o seu restaurante premiado para repensar tudo. Este vídeo entra nos bastidores do novo Noma nos seus dias finais antes da reabertura.</p>
        </details>
        <br>

        <h5>As receitas do Chefe</h5>
        <div class="container_video">
           <iframe class="responsive-iframe" src="https://www.youtube.com/embed/GiYmVOZdd6E" ></iframe>
        </div>
        <details>
                <summary>Saber mais</summary>
                <p>Redzepi ensina a cozinhar um dos pratos exclusivos do Noma, perfeito para se comer à beira-mar no verão.</p>
        </details>

        <br><br>
        <div class="container_video">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/LhKQ4GtxYUs" ></iframe>
        </div>
        <details>
                <summary>Saber mais</summary>
                <p>René Redzepi ensina a cozinhar o prato "ostra cozida no vapor", um dos pratos de assinatura do Noma. A inspiração e execução do prato são explicadas pelo homem por trás do menu.</p>
        </details>
    </div>
{% endblock section%}


        <!--Conteúdo Principal // Main-->
{% block main %}
    <h2>Cozinha de René Redzepi</h2>
    <p><b>Prato da Nova Cozinha Nórdica da Autoria do Chefe confecionados no seu restaurante:</b></p>

    <div class="linha">
        <figure><img src='{% static "ProjetoFinalPW/images/noma/prato1.jpg" %}'  class="img" id="circular" alt=""></figure>
        <a href="https://media-cdn.tripadvisor.com/media/photo-s/11/50/dd/19/entree.jpg"><figcaption class="none">Prato Nova cozinha Nórdica</figcaption></a>
        <figure><img src='{% static "ProjetoFinalPW/images/noma/prato2.jpg" %}'  class="img" id="circular" alt=""></figure>
        <a href="https://upload.wikimedia.org/wikipedia/commons/7/7f/Flickr_-_cyclonebill_-_Marv_med_syltede_gr%C3%B8ntsager.jpg"><figcaption class="none">Prato Nova cozinha Nórdica</figcaption></a>
    </div>
    <p>&ensp;René Redzepi é conhecido pelo o seu trabalho sobre a reinvenção e refinamento de uma <u>Nova Cozinha Nórdica</u> e alimentos que caracterizam a criatividade e sabores limpos.</p>
    <p>&ensp;A nova cozinha nórdica foi impulsionada e inspirada por ideias de um ativista alimentar. Tem sido utilizada para promover o local, natureza e sazonalidade de produtos como base para novos pratos.</p>

    <p>&ensp;O Chefe do Noma valoriza os ingredientes locais, como ouriço-do-mar, banha de porco, batatas, toucinho, algas, vieiras, camarões, pera e prega a sustentabilidade.
    <p>&ensp;Os produtos frescos do restaurante e a experiência de provar um cardápio totalmente controlado pela equipa de chefes é o que faz haver tanto sucesso.</p>

    <figure><img src='{% static "ProjetoFinalPW/images/noma/noma_foto8.jpg" %}' class="img" alt=""></figure>
    <a href="https://www.google.pt/url?sa=i&url=https%3A%2F%2Fwww.theworlds50best.com%2Fthe-list%2F1-10%2FNoma.html&psig=AOvVaw2zxazFAiQ3WR9fTmkJDWVR&ust=1617650485991000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCLCxmemn5e8CFQAAAAAdAAAAABAN"><figcaption class="none">Prato</figcaption></a>

    <p><i>"O Noma não existiria sem os produtos que usa"</i>, disse um responsável. </p>
    <p>&ensp; Com o decorrer da pandemia os negócios de restauração viram-se obrigados a parar sem saber quando voltariam a reabrir, assim restaurante Noma teve de reinventar, transformo-se num wine bar e hamburgueria por um tempo limitado, sem reservas e através de take-away.</p>

    <div class="linha">
        <figure><img src='{% static "ProjetoFinalPW/images/noma/hamburguer.jpg" %}'  class="img" id="circular" alt=""></figure>
        <a href="https://media-cdn.tripadvisor.com/media/photo-s/11/50/dd/19/entree.jpg"><figcaption class="none">Prato Nova cozinha Nórdica</figcaption></a>

        <figure><img src='{% static "ProjetoFinalPW/images/noma/hamburguer1.jpg" %}' class="img" id="circular" alt=""></figure>
        <a href="https://upload.wikimedia.org/wikipedia/commons/7/7f/Flickr_-_cyclonebill_-_Marv_med_syltede_gr%C3%B8ntsager.jpg"><figcaption class="none">Prato Nova cozinha Nórdica</figcaption></a>
    </div>
{% endblock main%}

        <!--Aside-->
{% block aside %}
    <div id="aside">
        <h2>Chefe René Redzepi</h2>
        <figure><img src='{% static "ProjetoFinalPW/images/noma/cozinheiro.jpg" %}' height="" witdh=""class="img" alt=""></figure>
        <a href="http://2.bp.blogspot.com/_GlnzWUyWCHs/TEoJl0g6vQI/AAAAAAAABko/uK2AjN7-XLs/s1600/nomarestaurantchefredzepi.jpg"><figcaption class="none">Cozinheiro</figcaption></a>
        <a href="https://www.instagram.com/reneredzepinoma/"> 👨🏽‍🍳 Descubra mais </a>

        <p id="descricao" style="background-color: rgb(199, 142, 57);"> <b>&#128198; Nascimento:</b> 16 de dezembro de 1977, Copenhaga, Dinamarca</p>
        <p id="descricao" style="background-color: rgb(199, 142, 57);"> <b>&#8987; Idade:</b> 43 anos</p>
        <p id="descricao" style="background-color: rgb(199, 142, 57);"> <b>&#127891; Formação:</b> Cooking school </p>
        <p id="descricao" style="background-color: rgb(199, 142, 57);"> <b>&#129505; Estilo de cozinha:</b> Nova Gastronomia Molecular da Cozinha Nórdica</p>
    </div>
{% endblock aside%}

        <!--Article-->
{% block article %}
    <div id="article">
        <div class="column" >
            <div class="gallery-item">
                <div class="image">
                <figure><img src='{% static "ProjetoFinalPW/images/noma/prato3.jpg" %}' class="img" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="column" >
            <div class="gallery-item">
                <div class="image">
                <figure><img src='{% static "ProjetoFinalPW/images/noma/prato4.jpg" %}' class="img" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="column" >
            <div class="gallery-item">
                <div class="image">
                <figure><img src='{% static "ProjetoFinalPW/images/noma/prato5.jpg" %}' class="img" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="column" >
            <div class="gallery-item">
                <div class="image">
                <figure><img src='{% static "ProjetoFinalPW/images/noma/prato6.jpg" %}' class="img" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
{% endblock article %}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}

    <!--Footer-->
{% block footer %}
    <div class="redes_sociais">
        <a href="https://www.instagram.com/nomacph/" target="_blank"><span class="instagram"></span>Instagram</a>
        <a href="https://www.facebook.com/nomacph/" target="_blank"><span class="facebook"></span>Facebook</a>
    </div>
{% endblock footer %}