{% extends "ProjetoFinalPW/base.html" %}
{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/noma/noma_capa.jpg" %}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .fixed{
            height: 30px;
            width: 100px;
            position: absolute;
            top: 20px;
            right: 100px;
        }
        h1{
          text-align: center;
          font-size: 4vw;
          font-family: 'New Tegomin', serif;
        }
        h2{
            text-align: center;
            color:rgb(94, 71, 42);
        }
        h3{
            color:rgb(68, 61, 50);
            text-align: center;
        }
        .header{
            color:rgb(190, 167, 131);
        }
        .nav{
            background-color: rgb(190, 167, 131);
        }
        .nav a{
            background-color: rgb(190, 167, 131);
        }
        .footer{
            background-color: rgb(190, 167, 131);
        }

        .linha{
            display: flex;
            flex-direction: row;
            justify-content:center;
        }
        .linha2{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }
        #circular{
            border-radius: 120px;
        }
        #half_circulo{
        border-radius: 50px;
        }
        .itemAuxiliar{
            text-align: center;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

    <!--Nav-->
    {% block nav %}
        <a  href="{% url 'ProjetoFinalPW:nomaIntroducao' %}" > Apresentação </a>
        <b><a href="{% url 'ProjetoFinalPW:nomaPinteresse' %}"> Pontos de Interesse </a></b>
        <a href="{% url 'ProjetoFinalPW:nomaCozinha' %}"> Cozinha </a>
        <a href="{% url 'ProjetoFinalPW:index' %}"> Home </a>
    {% endblock nav %}

    <!--Header-->
    {% block header %}
            <h1>Noma</h1>
    {% endblock header %}

    <!--Item Auxiliar-->
{% block itemAuxiliar %}
    <div class="itemAuxiliar">
        <div class="row1">
              <div class="columnPInteresse" style="background-color: rgb(190, 167, 131);">
              <br>
              <i class="fa fa-map-pin" style="font-size:2vw;color: rgb(238, 238, 238);"></i><b style="color:white">Copenhaga</b>
              <br>
              </div>
        </div>
    </div>
{% endblock itemAuxiliar%}

        <!--Conteúdo Principal // Main-->
    {% block main %}
        <main>
            <p>&ensp;Na cidade de Copenhaga situa-se o famoso restaurante <b>Noma</b>. Esta &#127750; é a maior do país e a capital da Dinamarca, localizada no Norte da Europa. Copenhaga tem uma população urbana de 1 213 822 &#128109;&#128108;&#128107; e uma população metropolitana de 1 935 746 &#128109;&#128108;&#128107;. Esta &#127750; é principalmente conhecida pelos os seus &#128109;&#128108;&#128107; estarem entre as pessoas mais felizes&#128515; do &#127759;. A bonita capital combina história real, arquitetura moderna e vida sustentável.</p>
            <p>&ensp;Existem vários &#128205; que podem ser visitados, como o porto de Nyhavn, onde ficam as fotogénicas &#127969; coloridas e uma vista linda para o canal. Igualmente famosos, os Jardins do Tivoli existem desde 1️⃣8️⃣4️⃣3️⃣ e são o segundo parque temático 🎢 mais antigo do &#127759;, e os &#127963; que fazem parte da história do país. Além disto, possui jardins com vistas incriveis para a cidade, bem como lugares para atividades de laser.</p>
        </main>
    {% endblock main%}

        <!--Article-->
    {% block article %}
        <h2>Conheça a cidade de Copenhaga</h2>
                <div class="linhaImagem">
                    <div class="colunaImagem">

                        <img src= '{% static "ProjetoFinalPW/images/noma/copenhaga1.jpg" %}' style="width:100%" alt="">
                        <a href="https://en.wikipedia.org/wiki/File:Copenhagen_Opera_House_2014_04.jpg"><figcaption class="none">Copenhagen Opera House</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>A Copenhagen Opera House, situa-se na ilha de Holmen, no centro de Copenhaga, inaugurada em 2005 é a casa da ópera nacional da Dinamarca e encontra-se entre as casas de ópera mais modernas do mundo.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga2.jpg" %}' style="width:100%" alt="">
                        <a href="https://kajhotel.dk/wp-content/uploads/2020/09/C0A2289-683x1024.jpg"><figcaption class="none">Kaj Hotel</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Kaj Hotel não é realmente um hotel mas também não é uma casa-barco, é algo intermédio. Um casulo flutuante dinamarquês feito inteiramente de materiais recuperados. Este está alinhado com a parte tranquila do belo porto do centro de Copenhaga.</p>
                            <p>Situa-se a poucos passos das maravilhosas atrações turísticas da cidade, este "hotel" combina a localização perfeita com uma experiência residencial única.  </p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga3.jpg" %}' style="width:100%" alt="">
                        <a href="https://www.oficinadeinverno.com.br/blog/wp-content/uploads/2015/03/nyhavn.jpg"><figcaption class="none">Nyhavn</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>Nyhavn, significa Porto Novo, é uma área popular na cidade de Copenhaga, consiste num canal ao estilo Holandês.</p>
                            <p>É o belíssimo canal, considerado o centro de todas as atividades de entretenimento da cidade. Com seus lindos edifícios coloridos, Nyhavn está repleto de vida.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga4.jpg" %}' style="width:100%" alt="">
                        <a href="https://www.google.com/search?q=urban+ranger+camp+copenhagen&sxsrf=ALeKk02t3lu05ZBqe4xxiN69GgNKDx7JOg:1617616909903&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjWibDK7ObvAhWTiFwKHSwsBHgQ_AUoAXoECAEQAw&biw=1422&bih=615#imgrc=LhNHqHN7H_sEOM&imgdii=2FGZCipAa9cBzM"><figcaption class="none">Urban Ranger Camp</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p> O Urban Ranger Camp consiste num curso de alta corda coberto, é considerado o mais alto do mundo a uma altura de 50 metros do chão, e oferece uma experiência única de adrenalina.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga5.jpg" %}'style="width:100%" alt="">
                        <a href="https://z.cdrst.com/foto/hotel-sf/6aaf/granderesp/hotel-kong-arthur-exterior-9a13f41.jpg"><figcaption class="none">Hotel Kong Arthur</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Hotel Kong Arthur foi originalmente construído em 1882, atualmente é um edifício modernizado. Este elegante hotel é considerado amigo do ambiente, neutro em CO2, está situado perto de várias atrações como o Castelo Rosenborg ou da rua pedonal Stroeget, e encontra-se apenas a cinco minutos da estação de metro Nørreport.</p>
                        </details>
                    </div>

                    <div class="colunaImagem">
                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga6.jpg" %}' class="img" alt="">
                        <a href="https://www.broadwaytravel.com/own-files/6b4/ef239f75f8206f416a3f5baea3205/9WEFYsmtea.jpg"><figcaption class="none">Hotel Absalon</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p> O Hotel Absalon, inaugurado em 1938, está localizado num dos bairros mais vibrantes e criativos de Copenhaga, é um hotel de ⭐⭐⭐⭐ estrelas.</p>
                            <p> É propriedade familiar que tem vindo a crescer com o passar dos anos, é charmoso e eclético - muito parecido com o espírito do ambiente da cidade.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga7.jpg" %}' class="img" alt="">
                        <a href="https://www.archdaily.com.br/br/868972/experimentarium-cebra/5888cf48e58ece908f000176-experimentarium-cebra-photo"><figcaption class="none">Experimentarium</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Experimentarium, é um centro de ciências de classe mundial, dedicado à ciência lúdica que espanta uma enorme curiosidade naqueles que o visitam. </p>
                            <p> O centro de ciências foi reaberto no ano de 2017 após uma reformulação completa, atualmente tem três andares internos com 18 exposições interativas sobre ciência e tecnologia, um telhado interativo e shows de ciências.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga8.jpg" %}' class="img" alt="">
                        <a href="https://www.hisour.com/pt/danish-and-nordic-art-1750-1900-national-gallery-of-denmark-49548/"><figcaption class="none">Statens Museum for Kunst</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Statens Museum, Museu Nacional de Arte, foi inaugurado no ano de 1896, é um dos principais museus da Dinamarca. Possui mais de 250 mil peças distribuídas entre pinturas, obras em papel e estatuária, compondo um amplo panorama da arte ocidental desde o Renascimento até a contemporaneidade.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga10.jpg" %}' class="img" alt="">
                        <a href="https://upload.wikimedia.org/wikipedia/commons/c/c9/Rosenborg_Slot-center2.jpg"><figcaption class="none">Castelo Rosenborg</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Castelo Rosenborg foi construído para servir em 1606 passou por algumas reformas e ampliações, chegando à atual arquitetura em 1624. Este castelo, representa bem a arquitetura do período do rei Christian IV.</p>
                            <p>Atualmente está aberto para visitas de turistas.</p>
                        </details>
                    </div>

                    <div class="colunaImagem">
                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga9.jpg" %}' class="img" alt="">
                        <a href="https://upload.wikimedia.org/wikipedia/commons/1/12/Overformynderiet_%28Vester_Voldgade%29.jpg"><figcaption class="none">Københavns Bymuseum</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O Københavns Bymuseum, Museu da Copenhaga, é o maior museu histórico-cultural do país. O Museu possui uma vasta e interessante coleção etnográfica, com antiguidades orientais e de várias civilizações mundiais.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga11.jpg" %}' class="img" alt="">
                        <a href="https://3.bp.blogspot.com/--9OaMdLQHDk/UyC9n3A4wQI/AAAAAAAASR4/JJS936D2cLk/s1600/1902026_10152289663239120_10887543_n.jpg"><figcaption class="none">Castelo Rosenborg</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>Esta imagem corresponde ao interior do Castelo Rosenborg. O seu interior é adotado de uma vasta riqueza nos frescos dos tectos, no mobiliário, nas obras de arte penduradas na parede ou simplesmente nos mosaicos e paredes construídos em mármore e pedra.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga12.jpg" %}' class="img" alt="">
                        <a href="https://scandinavianway.com.br/wp-content/uploads/2020/01/_31072019131003_gde.jpg"><figcaption class="none">Tivoli Gardens</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p>O parque Tivoli Gardens é um centenário muito concorrido, foi considerado um dos melhores dez parques de diversões do mundo, em 2019.</p>
                            <p>A atração dinamarquesa ficou em sétimo lugar no Travellers' Choice 2019, eleição realizada pelo site especializado em viagens TripAdvisor a partir da votação dos próprios turistas e visitantes.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga13.jpg" %}' class="img" alt="">
                        <a href="https://image.freepik.com/fotos-gratis/orsteds-park-em-copenhague-dinamarca_52137-13997.jpg"><figcaption class="none">Ørstedsparken</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p> O Ørstedsparken é atualmente um parque público localizado no centro de Copenhaga. É um dos vários parques que foram dipostos no terreno do antigo anel de fortificação após sua a desativação na década de 1870. O parque ainda mantém elementos das antigas fortificações, como uma secção do fosso que agora serve como um lago alongado. </p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga14.jpg" %}' class="img" alt="">
                        <a href="https://i1.wp.com/turismo.eurodicas.com.br/wp-content/uploads/2018/08/jardins-de-tivoli.jpg?resize=740,480"><figcaption class="none">Tivoli Gardens</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p> A principal atração do Tivoli Gardens é a montanha-russa Dæmonen (The Demon), foi inaugurada em 2004 e é uma das estruturas mais caras do parque. É uma montanha-russa sem chão, o que significa que as pernas dos visitantes ficam penduradas durante todo o seu percurso.</p>
                        </details>

                        <img src='{% static "ProjetoFinalPW/images/noma/copenhaga15.jpg" %}' class="img" alt="">
                        <a href="https://www.fof.dk/-/media/images/egne/koebenhavns-omegn/rundvisning-og-kultur/foraar-2021/faelledparken.jpg?cx&cy&cw=1440&ch=408&hash=35A138B6576192AD7AD78C4C23C15306"><figcaption class="none">Fælledparken</figcaption></a>
                        <details id="descricao">
                            <summary>Saber mais</summary>
                            <p> O parque Fælledparken está situado na cidade e perto do estádio nacional dinamarquês, foi criado em 1906-1914 por um arquiteto paisagista e em cooperação com o Município de Copenhaga.</p>
                            <p> Este parque é utilizado para realizar várias atividades ao ar livre.</p>
                        </details>
                    </div>
                </div>
    {% endblock article%}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}

    <!--Footer-->
    {% block footer %}
        <div class="redes_sociais">
            <a href="https://www.instagram.com/nomacph/" target="_blank"><span class="instagram"></span>Instagram</a>
            <a href="https://www.facebook.com/nomacph/" target="_blank"><span class="facebook"></span>Facebook</a>
        </div>
    {% endblock footer%}
