{% extends 'ProjetoFinalPW/base.html' %}

{% load static %}

{% block head %}
    <style>
        .parallax {
            background-image: url('{% static "ProjetoFinalPW/images/quizz.jpg"%}');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1{
            font-size: 2vw;
            font-family: 'Dela Gothic One', cursive;
            color:rgb(202, 29, 29);
        }
        p{
            text-align: center;
        }
        .nav{
            background-color:rgb(10, 51, 90);
        }
        .footer{
            background-color:rgb(10, 51, 90);
        }
        fieldset{
            text-align: center;
        }
    </style>

{% endblock head %}

{% block body %}
    <div class="parallax"></div>
{% endblock body %}

{% block header %}
    <h1>Pontuação</h1>
{% endblock header %}

{% block nav %}
    <a href="{% url 'ProjetoFinalPW:informacao' %}" target="_blank">&#10067; Informações </a>
    <a href="{% url 'ProjetoFinalPW:formulario' %}" target="_blank">&#128203; Formulário </a>
    <a href="{% url 'ProjetoFinalPW:mapa' %}" target="_blank">🗺️ Mapa do Website</a>
    <a href="{% url 'ProjetoFinalPW:contacto' %}">📞 Contacto </a>
    <b><a href="{% url 'quizz:quizz' %}">✍️ Quizz </a></b>
    <a href="{% url 'ProjetoFinalPW:index' %}" target="_blank">&#128281; Home </a>
{% endblock nav %}

{% block main %}
    {% if user.is_authenticated %}

            <p> Ainda não existem pontuações.</p>
            <p> Por favor realize o Quizz &#128521;.</p>

            {% for quizz in quizzes %}
                {% for tentativa in tentativas %}
                    {% if tentativa.usuario == request.user %}
                        {% if tentativa.quizz == quizz %}
                            {{ quizz.titulo }}
                            {{ tentativa.classificacao }}
                            {{ tentativa.submetido }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if grafico %}
                <img src ="data:image/png;base64, {{grafico|safe}}image">

        {% endif %}

    {% else %}
        <p>Para aceder às pontuações, necessita de fazer o login e efetuar o Quizz.</p>
    {% endif %}

{% endblock main %}

{% block body2 %}
    <div class="parallax"></div>
{% endblock body2 %}